
  <footer>
        <section class="wrapper footer">
          <p>&copy Sweet Infusion 2020 All Rights Reserved</p>
          <div class="media">
            <span class="follow">Follow Us on</span>
            <a href="https://www.instagram.com/accounts/login/?hl=en"><span class="fab fa-instagram"> </span></a>
            <a href="https://www.facebook.com"><span class="fab fa-facebook"></span></a>
          </div>
        </section>
      </footer>



