
  <body>
    <nav>
      <div class="nav wrapper">
        <a href="/"><img class="logo" src="images/logo.png" alt="logo image"></a>

        <div>
          <a href="/menu"><h4>Menu</h4></a>
          <a href="/about"><h4 class="about">About Us</h4></a>
        </div>
      </div>
    </nav>

    </body>
    </html>
