<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <style>
      * {
          margin: 0;
          padding: 0;
      }
      .imgbox {
          display: grid;
          height: 100%;
      }
      .center-fit {
          max-width: 100%;
          max-height: 100vh;
          margin: auto;
      }
  </style>
  </head>
  <body>
    <h1>Welcome to our carts (in construction) page:</h1>
    <div class="imgbox">
      <img class="center-fit" src=https://www.dspotdessert.com/wp-content/uploads/2019/12/home-1-mobile.jpg>
    </div>
    <div>Stay tuned for live updates coming your way!</div>
    :)
  </body>
</html>
