<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orders Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <style>
      * {
          margin: 0;
          padding: 0;
      }
      .imgbox {
          display: grid;
          height: 100%;
      }
      .center-fit {
          max-width: 100%;
          max-height: 100vh;
          margin: auto;
      }
  </style>
  </head>
  <% if (orders) { %>
    <pre>  <%- JSON.stringify(orders) %>      </pre>
    <% } else { %>
      <h4>its not here</h4>
    <% } %>
  <body>
    <h1>Welcome to our temp orders page:</h1>
    <div class="imgbox">
      <h2>Here is what our orders may look like from the client or restaraunt side:</h2>
      <img class="center-fit" src="https://storage.googleapis.com/ssg-website-images/5%20Startups%20Using%20React%20Native/ubereats%20restaurant%20dashboard.png">
      <img class="center-fit" src="https://cdn.dribbble.com/users/224693/screenshots/2944376/017.png">
      <img class="center-fit" src="https://stormotion.io/blog/content/images/2017/05/imgonline-com-ua-Resize-Wuhy0qucoKFlL-min.png">
      <img class="center-fit" src="https://woxapp.com/uploads/images/prilozhenie_analogichnoe_ubereats_08.png">

    </div>
    <div>Stay tuned for live updates coming your way!</div>
    :)
  </body>
</html>
