<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main_index.css" type="text/css" />
    <!-- googleFonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Varela+Round&display=swap" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- nav bar -->
    <nav>
      <div class="nav wrapper">
        <a href="/"><img class="logo" src="images/logo.png" alt="logo image"></a>
        <p class="blinking">Order now to pick-up in less than an hour!</p>
        <div>
          <a href="/menu"><h4>Menu</h4></a>
          <a href="/cart"><h4 class="cart">Cart</h4></a>
        </div>
      </div>
    </nav>
    <!-- header -->
    <header class="wrapper">
      <div class="header">
        <img src="images/background1.jpg" alt="Background orange pie">
        <h2>Sweet Infusion</h2>
      </div>
    </header>
    <!-- main body page -->
    <main class="wrapper">
      <section class="menu_section">
        <div>
          <img class="image_home" src="images/dessert1.jpg" alt="">
          <div>
            <h5>Icecream</h5>
          </div>
        </div>
        <div>
          <img class="image_home" src="images/dessert2.jpg" alt="">
          <div>
            <h5>Icecream</h5>
        </div>
      </div>
        <div>
          <img class="image_home" src="images/dessert3.jpg" alt="">
          <div>
            <h5>Icecream</h5>
        </div>
      </div>
        <div>
          <img class="image_home" src="images/dessert4.jpg" alt="">
          <div>
            <h5>Icecream</h5>
        </div>
      </div>
        <div>
          <img class="image_home" src="images/dessert5.jpg" alt="">
          <div>
            <h5>Icecream</h5>
        </div>
      </div>
      </section>


    </main>
  </body>
</html>
