.menu_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.menu_container img {
  margin: 0 20px;
}


.image_menu {
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  padding-bottom: 10px;


}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dish-card, .aside_order {
  background: rgb(238, 236, 236);
  box-shadow: 5px 10px 10px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
  overflow: hidden;
  width: 50%;
  margin: 10px;
}

.dish-card h5 {
  margin: 0;
  color: rgba(240, 131, 69);
  font-family: 'Raleway', sans-serif, bold;
  font-size: 16px;
}

li {
  list-style: none;
}

.menu_heading, .aside_order h2 {
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif, bold;
}

.aside_order {
  width: 70%;
  height: 50%;
  margin: 10% 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.order-buttons {
  margin: 21px 0;
}

#order_form {
  margin: 0 20px;
}

.total_amount {
  text-align: right;
}

.checkout {
  /* background-color: rgb(109, 240, 240); */
  color: #fff;
text-transform: uppercase;
text-decoration: none;
background: rgb(89, 170, 170);
padding: 20px;
border-radius: 15px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 100%;
}

.checkout:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.tax {
  font-size: 10px;
}


